@model DoacaoModel
@{
    ViewData["title"] = "Editar Doação";
}

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Edição de Doações</h1>
    </div>

    <form method="post" asp-controller="Doacao" asp-action="Editar">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label for="DoadorId" class="form-label text-light">ID do Doador</label>
            <input type="number" class="form-control text-light" asp-for="DoadorId" id="doadorId" placeholder="Digite o ID do doador">
            <span class="text-danger" asp-validation-for="DoadorId"></span>
        </div>

        <div class="mb-3">
            <label for="CampanhaId" class="form-label text-light">ID da Campanha</label>
            <input type="number" class="form-control text-light" asp-for="CampanhaId" id="campanhaId" placeholder="Digite o ID da campanha">
            <span class="text-danger" asp-validation-for="CampanhaId"></span>
        </div>

        <div class="mb-3">
            <label for="ValorDoacao" class="form-label text-light">Valor da Doação:</label>
            <input type="number" class="form-control text-light" asp-for="ValorDoacao" id="valorDoacao" placeholder="Ex: 100.00">
            <span class="text-danger" asp-validation-for="ValorDoacao"></span>
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Editar Doação</button>
            <a class="btn btn-primary w-50" asp-controller="Doacao" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>
