@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Campanhas online</h1>
    <p>Doar é um ato de amor. Seja parte dessa mudança!</p>
    <div>
        <img src="/img/imagem.jpg" class="img-fluid" style="max-width: 38%;" />
    </div>
</div>
